.domestic{
    color: green;
}

.international{
    color: blue;
}

.heavy{
    color: hsl(100, 40%, 25%);
}

.light{
    color: hsl(145, 40%, 44%);
}

table {
background-color: #bde9ba;
}

