.domestic{
    color: green;
}

.international{
    color: blue;
}

.heavy{
    color: hsl(100, 40%, 25%);
}

.light{
    color: hsl(145, 40%, 44%);
}

tr {
    background-color: hsl(100, 40%, 15%);
}

tr:.light{
    background-color: hsl(100, 40%, 30%);
}
